.nav-link{
    color:white;
}

.tim-profile-pic{
    border-radius: 20%;
}

#home, #about, #projects, #skills, #contact{
    background-color: #719FB0;
    padding-top: 5%;
    padding-bottom: 4%;
}

h1{
    color: #FFE3D8;
    font-weight: 500;
    font-size: 5.5rem;
    font-family: 'Fjalla One', sans-serif;
}

h2{
    color: #FFE3D8;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: 'Fjalla One', sans-serif;
}

h3{
    font-family: 'Fjalla One', sans-serif;
}

a{
    font-family: 'Fjalla One', sans-serif;
}

p{
    font-family: 'Fjalla One', sans-serif;
}
.container2{
    padding-top: 10%;
}

